.navbar {
    height: 40px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.messanger-container {
    flex-direction: column;
    height: 100%;
}

.chat-and-search-container {
    flex-direction: row;
    width: 300px;
    height: calc(100% - 40px);;
    background-color: rgb(220, 228, 233);
}

.search-container {
    justify-content: space-between;
    min-height: 60px;
    border-bottom: solid 0.1rem;
    border-color: gray;
}

.chat-list-container {
    justify-content: space-between;
    flex-direction: row;
    min-height: 100vh;
    display: inline;
    
}

.chat-box-container {
    border: solid 0.1em;
    color: black;
    cursor: pointer;
    list-style-type: none;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username {
    font-weight: bold;
    margin-left: 0.5rem;
}

.time {
    font-weight: 100;
    margin-right: 0.5rem;
}

.last-message-box {
    margin-left: 0.5rem;
    display: flex;
}

.last-message {
    margin-left: 0.3rem;
    font-weight: 100;
}


